[submodule "submodules/webapp"]
	path = submodules/webapp
	url = https://github.com/saikiranCloud/webapp.git
[submodule "webapp"]
	path = webapp
	url = https://github.com/saikiranCloud/webapp.git
[submodule "tf-gcp-infra"]
	path = tf-gcp-infra
	url = https://github.com/saikiranCloud/tf-gcp-infra.git
